<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="true" locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu icon="media/jk.png" label="Jerkar">
            
               <dynamic
               		class="org.jerkar.eclipseplugin.menu.MainMenu"
                    id="org.jerkar.eclipseplugin.menu.MainMenu">
               </dynamic>
             
         </menu>
      </menuContribution>
   </extension>
</plugin>
