<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.jerkar.eclipse-plugin.commands.updateclasspath"
            name="UpdateClasspathCommand">
      </command>
      <command
            id="org.jerkar.eclipse-plugin.commands.scaffold.javabuild"
            name="ScaffoldClassicJava">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Jerkar">
            <command
                  commandId="org.jerkar.eclipse-plugin.commands.updateclasspath"
                  label="Update Classpath"
                  style="push">
            </command>
            <menu
                  label="Scaffold">
               <command
                     commandId="org.jerkar.eclipse-plugin.commands.scaffold.javabuild"
                     label="Scaffold Classic Java Project"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jerkar.eclipseplugin.commands.UpdateClasspathHandler"
            commandId="org.jerkar.eclipse-plugin.commands.updateclasspath">
      </handler>
      <handler
            class="org.jerkar.eclipseplugin.commands.ScaffoldClassicJavaHandler"
            commandId="org.jerkar.eclipse-plugin.commands.scaffold.javabuild">
      </handler>
   </extension>
</plugin>
